<div class="card bg-light mb-3">
  <div class="card-body" style="font-size:14px">
    <strong>Name</strong>: {{ ncc.name }} ({{ ncc.id }}) <br />
    <strong>Description</strong>:
    {{ ncc.long_descr }}
    <br />
    <strong>Keyword</strong>: {{ keyword }}
  </div>
</div>
<table class="table-responsive table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="text-align:center;width: 30%">Keywords list</th>
      <th scope="col" style="text-align:center;width: 70%">Keywords cloud</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li *ngFor="let cdata of cloudData">
            {{ cdata.text }}
          </li>
        </ul>
      </td>
      <td>
        <angular-tag-cloud
          [data]="cloudData"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow"
        >
        </angular-tag-cloud>
      </td>
    </tr>
  </tbody>
</table>
