<!-- <router-outlet></router-outlet> -->
<table class="table table-striped">
  <thead style="margin:0px;padding:0px">
    <tr>
      <th scope="col">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select a Spend Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let ncc of supportedNCCs"
              (click)="onSelect(ncc)"
              >{{ ncc.name }}</a
            >
          </div>
          <div style="font-size:9px;margin-left:10px;font-weight:normal">
            Version: 1.01, Last updated: {{ currentDate | date: 'dd-MMM-yyyy' }}
          </div>
        </div>
      </th>
      <th scope="col" style="">
        <div *ngIf="selectedNCC" style="padding-top:0px">
          <h4>{{ selectedNCC.name }} ({{ selectedNCC.id }})</h4>
        </div>
      </th>
      <th scope="col" style="width: 10%">
        <div *ngIf="selectedNCC">
          <a href="#">Download</a>
        </div>
      </th>
    </tr>
    <tr>
      <td colspan="3" style="vertical-align: middle">
        <app-keywords-word-cloud
          *ngIf="selectedNCC"
          [ncc]="selectedNCC"
        ></app-keywords-word-cloud>
      </td>
    </tr>
  </thead>
</table>
