<!--
<div>
  <label for="name">NCC name: </label>
  <input id="name" [(ngModel)]="marketingAgency.name" placeholder="name" />
  {{ marketingAgency.name }}
</div>
-->
<table class="table table-striped">
  <thead style="margin:0px;padding:0px">
    <tr>
      <th scope="col" style="width:30%">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select a Spend Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let ncc of supportedNCCs"
              (click)="onSelect(ncc)"
              >{{ ncc.name }}</a
            >
          </div>
        </div>
      </th>
      <th scope="col" style="text-align:left">
        <span *ngIf="selectedNCC">
          <h4>{{ selectedNCC.name }} ({{ selectedNCC.id }})</h4>
        </span>
      </th>
    </tr>
  </thead>
</table>
