<!--
<div>
  <label for="name">NCC name: </label>
  <input id="name" [(ngModel)]="marketingAgency.name" placeholder="name" />
  {{ marketingAgency.name }}
</div>
-->
<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Select an NCC
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a
      class="dropdown-item"
      *ngFor="let ncc of supportedNCCs"
      (click)="onSelect(ncc)"
      >{{ ncc.name }}</a
    >
  </div>
  <div *ngIf="selectedNCC">
    <h3>{{ selectedNCC.name }} ({{ selectedNCC.id }}) Details</h3>
  </div>
</div>
